{% extends "base.html" %} {% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
  <p>
    Your userwall:
    <a href="{% url 'userwall' username=user.username %}">{{ user.wall }}</a>
  </p>
  <p>Your fanpages:</p>
  {% if fanpages %}
  <ul class="list-unstyled">
    {% for fanpage in fanpages %}
    <li>
      <a href="{% url 'fanpage' fanpage_name=fanpage.fanpage_name %}">
        {{fanpage.fanpage_name}}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>None</p>
  {% endif %}
</div>
{% endblock %}
