{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="text-center">
        <a
          href="{% url 'create_wall_post' username=request.user.username %}"
          class="text-decoration-none text-dark">
          Create New Post
        </a>
      </div>
      {% for post in posts %} {% if post.image %}
      <img src="{{ post.image.url }}" alt="Post Imagae" />
      {% endif %}
      <p>{{ post.content }}</p>
      <p>Posted on {{ post.created_at }}</p>
      <hr />
      {% endfor %}
    </div>
    <div class="col-3"></div>
  </div>
</div>
{% endblock %}
